#restauraunt-list-component{
    margin-top: 1em;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.loading-spinner {
    height: 30px;
}

#spinner-container {
    display: flex;
    align-items: center;
}