#search-filter-component{
    height: 150px;
}

.search-filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.filter-input-section {
    margin-right: 16px;
    display: flex;
    flex-direction: column;
}

input, select {
    margin-top: 16px;
}

button {
    padding: 10px 20px;
}

button:focus{
    outline: none;
}

button:nth-child(1){
    margin: 0 32px;
}

button:last-child{
    color: white;
    background-color: #7377C3;
}